<!-- <ion-header style="box-shadow:0 0 1px 0 rgba(0, 0, 0, .4);background: linear-gradient(to bottom, rgba(249, 29, 29, 0.9), rgba(255, 45, 45, 0.9));">
  <ion-toolbar color="primary">
  <ion-title >
       <center><img alt="logo" style="height: 40px ;" src="assets/housing.png"></center>
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <center><img alt="logo" style="height: 30px ;margin-top:20px;" src="assets/hou (1).png"></center>
<p style="font-size: 0.79em;font-weight: 500;"><center>A Scorecard for Measuring the Desirability and Livability of Your Home Site</center></p>
<p style="font-size: 0.79em;margin:10px;white-space:normal;">
  Unlike almost any other asset, real estate, and specifically residential real estate, is unique. 
  It is unique not so much due to the physical structure we call our house, but because of where exactly that house is situated. 
  The little corner of the world where your house lives has no exact twin. 
  When looking to purchase a home, we give great attention to all of the house’s features and specifications ,  
  but do we sufficiently analyze where our house resides? We should. 
  There is virtually nothing about the dwelling itself that can’t be changed to our liking.
  However, where the house sits, is quite permanent and therefore worthy of significant inquiry. By examining this one-of-a-kind locale, it is possible to forecast how livable and desirable your experience there will likely be.
</p>
<p  style="font-size: 0.79em;margin:10px;white-space:normal;">
  On the following pages, we present 25 various categories of permanent or nearly permanent characteristics designed to explore the uniqueness of each and every house’s particular location. 
  In using <span><img alt="logo" style="height: 9.5px ;" src="assets/hou (1).png"></span>, 
  be sure to click on the information icon, ⓘ, when it appears.
  Buyers: For meaningful help in your home search, use the <span><img alt="logo" style="height: 9.5px ;" src="assets/hou (1).png"></span> score of one house to compare it to others you are considering.
  Sellers: Use the <span><img alt="logo" style="height: 9.5px ;" src="assets/hou (1).png"></span> score to highlight for prospective purchasers some (perhaps some not-so-obvious) ways that make your home so special. Good wishes! Completion of the scorecard will take you approximately 10-15 minutes for each particular property you are rating.
</p>

</ion-content>
<ion-footer class="ion-no-border">
  <center>
    <ion-button mode="ios" ion-button style="color:#f96764" outline="true" style='color:white;height:5vh;margin-right:16px;margin-bottom:60px;align-items: center;' (click)="nextpage()" outline >Start Calculoting</ion-button>
    
    </center>
</ion-footer>